<p id="notice"><%= notice %></p>

<h1 class="display-2">Welcome to Postagram! </h1><br>
<h4 class="display-6"><%= link_to 'New Post', new_post_path %></h4>
<div class="container">
  <div class="row">

    <% @posts.each do |post| %>
      <div class="col-sm">
        <div class="card mt-2" style="width: 18rem;">
          <div class="card-header"> **Avatar/User Here </div>
            <img class="card-img-top" <%= image_tag(post.image, style: "width: 100%") %>
          <div class="card-body">
            <p class="card-text"><%= post.description %></p>
            <div class="card-text"><%= link_to 'Edit', edit_post_path(post) %></div>
            <div class="card-text"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
